html {
    height: 100%;
}

body {
    background: url('/media/bg-image.jpg') no-repeat center center fixed;
    background-size: cover;
    color: rgb(10, 10, 10);
    font-family: 'Kavivanar', sans-serif;
}

.logo-font {
    font-family: 'Kaushan Script', sans-serif;
}

/* Code for the main navbar is copied from Boutique Ado project */
.nav-link-menu {
    font-size: 1.2rem;
    margin-right: 1rem;
    transition: 0.2s;
}

.nav-link-menu:hover {
    text-decoration: none;
    color: #fafafa;
    letter-spacing: 1px;
}

.nav-link:hover {
    text-decoration: none;
    color: #fafafa;
}

.social-media {
    color: #fafafa;
    font-size: 1.5rem;
    margin-right: 1.5rem;
    transition: 0.1s;
}

.social-media:hover {
    color: #fafafa;
    font-size: 1.4rem;
}

.navbar-toggler {
    background: #fafafa;
}

/* This code is copied from Botique Ado project */
/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.text-menu {
    color: #fafafa;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: #fafafa;
    z-index: -1;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-button:hover {
    color: #fafafa;
    background: #04123f;
}

.btt-link,
.remove-item {
    cursor: pointer;
}

.quantity {
    display: flex;
    justify-content: center;
}

input[name='q']::placeholder {
    color: #aab7c4;
}

/* Animation on page load */

.container,
.container-fluid {
    animation: pageLoader 1s;
}

@keyframes pageLoader {
    from {
        opacity: 0;
        transform: rotateX(-20deg);
    }

    to {
        opacity: 1;
        transform: rotateX(0);
    }
}

/* Background cards */

.bg-style {
    background: rgba(255, 255, 255, 0.45);
}

/* Photographer images */

.photographer-img {
    height: 300px;
    width: auto;
}

.photographer3-img {
    height: 300px;
    width: auto;
    object-fit: scale-down;
    max-width: 98%;
}

/* bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #0e1a24;
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 5px;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 5px;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
	color: #17a2b8; /* text-info */
}

/* Product Form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
}

/* -------------------------------- Media Queries ------------------------------ */

/* This code is copied from Botique Ado project */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }

    .image-view {
        height: 350px;
        width: 100%;
        object-fit: cover;
    }

    .image-detail {
        height: 450px;
        width: auto;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .nav-link {
        padding: 0.15rem;
    }

    .nav-link i.fa-lg {
        font-size: 1rem;
    }

    .navbar-toggler {
        padding: .5rem;
        font-size: .8rem;
    }
}