html {
    height: 100%;
}

body {
    background: #fafafa;
    color: rgb(10, 10, 10);
    font-family: 'Kavivanar', sans-serif;
}

.logo-font {
    font-family: 'Kaushan Script', sans-serif;
}

.nav-link-menu {
    font-size: 1.2rem;
    margin-right: 1rem;
    transition: 0.2s;
    letter-spacing: 1px;
}

.nav-link-menu:hover {
    text-decoration: none;
    color: #fafafa;
    letter-spacing: normal;
}

.nav-link:hover {
    text-decoration: none;
    color: #fafafa;
}

.social-media {
    color: #fafafa;
    font-size: 1.5rem;
    margin-right: 1.5rem;
    transition: 0.1s;
}

.social-media:hover {
    color: #fafafa;
    font-size: 1.4rem;
}

.navbar-toggler {
    background: #fafafa;
}

/* This code is copied from Botique Ado project */
/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.text-menu {
    color: #fafafa;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: #fafafa;
    z-index: -1;
}

/* -------------------------------- Media Queries ------------------------------ */

/* This code is copied from Botique Ado project */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }

    .image-detail {
        height: 600px;
        width: auto;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}