<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a href="{% url 'home' %}" class="nav-link-menu text-menu">HOME</a>
        </li>
        <li class="nav-item dropdown">
            <a href="{% url 'products' %}" class="nav-link-menu text-menu">SHOP</a>
        </li>
        <li class="nav-item dropdown">
            <a href="{% url 'about' %}" class="nav-link-menu text-menu">ABOUT</a>
        </li>
        <li class="nav-item dropdown">
            <a href="{% url 'contact' %}" class="nav-link-menu text-menu">CONTACT</a>
        </li>
    </ul>
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a href="https://www.instagram.com/" class="social-media" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="https://www.pinterest.com/" class="social-media" target="_blank"><i class="fab fa-pinterest"></i></a>
            <a href="https://www.facebook.com/" class="social-media" target="_blank"><i class="fab fa-facebook"></i></a>
            <a href="https://www.youtube.com/results?search_query=travel+photography" class="social-media" target="_blank">
                <i class="fab fa-youtube-square"></i>
            </a>
        </li>
    </ul>
</div>