<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a href="{% url 'products' %}" class="nav-link-menu text-menu">Gallery</a>
        </li>
        <li class="nav-item dropdown">
            <!-- <a href="" class="nav-link-menu text-menu">DEC Team</a> -->
            <li class="nav-item dropdown">
            <a class="nav-link-menu text-menu" href="#" id="dec-info-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                DEC Team
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">About Us</a>
                <a href="" class="dropdown-item">Contact</a>
            </div>
        </li>
        </li>
    </ul>
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a href="https://www.instagram.com/" class="social-media" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="https://www.pinterest.com/" class="social-media" target="_blank"><i class="fab fa-pinterest"></i></a>
            <a href="https://www.facebook.com/" class="social-media" target="_blank"><i class="fab fa-facebook"></i></a>
            <a href="https://www.youtube.com/results?search_query=travel+photography" class="social-media" target="_blank">
                <i class="fab fa-youtube-square"></i>
            </a>
        </li>
    </ul>
</div>