{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <!-- <div class="overlay"></div> -->
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center mt-2">
                <h2 class="logo-font">About Us</h2>
                <hr class="mb-1">
            </div>
        </div>

        <div class="row">
            <div class="col-10 offset-1 mt-4">
                <p class="text-center my-2">
                    Three passionate photographers from three different countries united to show you amazing places and 
                    help you create your own great environment decorated with their photos. <br>
                    We at DEC Photography love three things most of all: <br> 
                    1. Traveling <i class="fas fa-globe-europe"></i> &nbsp;&nbsp;&nbsp;
                    2. Take photos of incredible places <i class="fas fa-camera"></i> &nbsp;&nbsp;&nbsp;
                    3. Share their story with everybody <i class="fas fa-users"></i> <br>
                    In our web store we give chance to others to enjoy the views that our lenses capture on our journeys. 
                    We make photos that represent variety of photography styles such as Landscape, Urban, Wildlife, Car 
                    photography and others. We believe that decoration is key part of bringing comfort in our surroundings
                    and that is why we formed DEC Photography.    
                </p>
            </div>
        </div>
        <h4 class="logo-font text-center mt-4">Meet the Team</h4>
        <div class="row text-center bg-style">
            <div class="col-md-4 col-sm-12 my-2">
                <hr class="w-75">
                <p>Dragan Chanov</p>
                <img class="rounded photographer-img" src="/media/photographer1.png" alt="photographer_image">
                <hr class="w-75">
            </div>
            <div class="col-md-4 col-sm-12 my-2">
                <hr class="w-75">
                <p>Emil Carlqvist</p>
                <img class="rounded photographer-img" src="/media/photographer2.png" alt="photographer_image">
                <hr class="w-75">
            </div>
            <div class="col-md-4 col-sm-12 my-2">
                <hr class="w-75">
                <p>Cassy Dantos</p>
                <img class="rounded photographer3-img" src="/media/photographer3.png" alt="photographer_image">
                <hr class="w-75">
            </div>
        </div>
    </div>
{% endblock %}