{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center mt-2">
                <h2 class="logo-font">Shopping Gallery</h2>
                <hr class="mb-1">
            </div>
        </div>
        <div class="row">
            <div class="product-container col-10 offset-1">
                <div class="row mt-1 mb-2"></div>
                <div class="row">
                    {% for product in products %}
                        <div class="col-lg-12 col-xl-6 my-5">
                            <div class="card h-100 border-0 bg-light text-center">
                                {% if product.image %}
                                <a href="{% url 'product_detail' product.id %}">
                                    <img class="card-img-top img-fluid image-view" src="{{ product.image.url }}" alt="{{ product.name }}">
                                </a>
                                {% else %}
                                <a href="{% url 'product_detail' product.id %}">
                                    <img class="card-img-top img-fluid image-view" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                                </a>
                                {% endif %}
                                <div class="card-body pb-0">
                                    <h4 class="mb-0">{{ product.name }}</h4>
                                    <p class="mb-0">{{ product.location }}</p>
                                    <p class="mb-0">{{ product.description }}</p>
                                    <p class="lead mb-0 text-center font-weight-bold">
                                        {{ product.price }}€
                                        <br>
                                        {% if request.user.is_superuser %}
                                            <small>
                                                <a href="{% url 'edit_product' product.id %}">Edit</a> | 
                                                <a class="text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
                                            </small>
                                        {% endif %}
                                     </p>
                                </div>
                                <div class="card-footer pt-0 border-0 bg-tranparent">
                                    <div class="row">
                                        <div class="col text-center">
                                            <a href="{% url 'product_detail' product.id %}" class="btn btn-dark rounded mt-3">
                                                <span class="icon">
                                                    <i class="far fa-eye"></i>
                                                </span>
                                                <span class="text-uppercase">View Photo</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="col-12 mb-5">
                            <hr>
                        </div> -->
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="btt-button shadow-sm rounded border border-black" 
        data-toggle="tooltip" data-placement="left" title="Go to top">
        <a class="btt-link d-flex h-100">
            <i class="fas fa-arrow-up mx-auto my-auto"></i>
        </a>	
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
		$('.btt-link').click(function(e) {
			window.scrollTo(0,0)
		})
	</script>
{% endblock %}